SistemaPymes/ReporteArticulos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Articulos">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Articulo">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Codigo" type="xs:unsignedInt" />
              <xs:element name="Descripcion" type="xs:string" />
              <xs:element name="PCompra" type="xs:unsignedByte" />
              <xs:element name="PVenta" type="xs:unsignedByte" />
              <xs:element name="Existencia" type="xs:unsignedByte" />
              <xs:element name="SMinimo" type="xs:unsignedByte" />
              <xs:element name="SMaximo" type="xs:unsignedByte" />
              <xs:element name="Proveedor" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>